---
apiVersion: v1
kind: Secret
metadata:
  name: synology-csi-client-info-secret
stringData:
  client-info.yaml: |-
    clients:
    - host:  "{{ synology_csi.host }}"
      port: "{{ synology_csi.port }}"
      https: "{{ synology_csi.https }}"
      username: "{{ synology_csi.username }}"
      password: "{{ synology_csi.password }}"
