# yamllint disable
apiVersion: v1
kind: Secret
metadata:
    name: onepassword-connect-secret
stringData:
    1password-credentials.json: "{{ onepassword.credentials_b64 }}"
    token: "{{ onepassword.token }}"